@font-face {
	font-family: 'Swis721-Filled';
	src: url('../fonts/swis721_blkcn_bt_black.ttf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Swis721-Unfilled';
	src: url('../fonts/swis721_bdoul_bt_bold.ttf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Swis721-reg';
	src: url('../fonts/swis721_LtEx_Bt.ttf');
	font-weight: normal;
	font-style: normal;
}

* {
	margin: 0px;
}

body {
	width: 100%;
	height: 100vh;
}

/* --- */
/* NAVIGATION BAR */
/* --- */

.navContainer {
	width: 100vw;
	height: 60px;
	background-color: #55606e;
	display: grid;
	grid-template-rows: 60px;
	grid-template-columns: repeat(3, 1fr);
	min-height: 40px;
}

.navLogoContainer {
	grid-column-start: 2;
	grid-column-end: 3;
	margin: auto;
}

.navLogo {
	grid-row-start: 1;
	grid-row-end: 2;
	grid-column-start: 2;
	grid-column-end: 4;
	width: 140px;
	min-width: 180px;
	filter: drop-shadow(1px 0px 1px rgba(255, 255, 255, 0.726)) drop-shadow(-1px 0px 1px rgba(255, 255, 255, 0.726));
}

.navTextContainer {
	display: none;
}

.active {
	text-decoration: underline !important;
	text-decoration-color: #7389f7 !important;
}

.navText {
	display: none;
}

.login {
	grid-column-start: 3;
	grid-column-end: 4;
	margin: auto;
}

.loginIcon {
	height: 40px;
	min-height: 40px;
}

.textSmall {
	font-family: 'Swis721-reg';
	text-decoration: none;
	color: inherit;
}

.smallActive {
	text-decoration: underline !important;
	text-decoration-color: #ff3333 !important;
}

/* Hamburger Menu */

.navigation {
	grid-row-start: 1;
	grid-row-end: 2;
	grid-column-start: 1;
	grid-column-end: 2;
}

#menuToggle {
	display: block;
	position: relative;
	top: 25px;
	left: 15px;
	z-index: 1;
	-webkit-user-select: none;
	user-select: none;
}

#menuToggle a {
	text-decoration: none;
	color: #232323;
	transition: color 0.3s ease;
}

#menuToggle a:hover {
	color: tomato;
}

#menuToggle input {
	display: block;
	width: 40px;
	height: 32px;
	position: absolute;
	top: -7px;
	left: -5px;
	cursor: pointer;
	opacity: 0;
	z-index: 2;

	-webkit-touch-callout: none;
}

#menuToggle span {
	display: block;
	width: 33px;
	height: 4px;
	margin-bottom: 5px;
	position: relative;
	background: #cdcdcd;
	border-radius: 3px;
	z-index: 1;
	transform-origin: 4px 0px;
	transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
		opacity 0.55s ease;
}

#menuToggle span:first-child {
	transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
	transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span {
	opacity: 1;
	transform: rotate(45deg) translate(-2px, -1px);
	background: #232323;
}

#menuToggle input:checked ~ span:nth-last-child(3) {
	opacity: 0;
	transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2) {
	transform: rotate(-45deg) translate(0, -1px);
}

#menu {
	position: absolute;
	width: 300px;
	margin: -100px 0 0 -50px;
	padding: 50px;
	padding-bottom: 8px;
	padding-top: 110px;

	background: #e6e6e2;
	list-style-type: none;
	-webkit-font-smoothing: antialiased;

	transform-origin: 0% 0%;
	transform: translate(-100%, 0);

	transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
}

#menu li {
	padding: 10px 0;
	font-size: 22px;
}

#menuToggle input:checked ~ ul {
	transform: none;
}

.signup {
	display: grid;
	grid-template-columns: 60% 40%;
	width: 140px;
	text-decoration: none;
}

.signup:hover {
	background-color: #3d444d;
	border-radius: 8px;
	cursor: pointer;
}

.signupText {
	grid-column-start: 1;
	grid-column-end: 2;
	margin: auto;
	font-size: 16px;
	font-family: 'Swis721-reg';
	color: white;
	text-decoration: none;
}

/* --- */
/* WebPage Container */
/* --- */

.mainContainer {
	background-color: #3d444d;
	height: 100vh;
	position: relative;
}

.aboutContainer {
	width: 85%;
	margin: auto;
}

.headerText {
	color: white;
	font-family: 'Swis721-reg';
	text-decoration: none;
	padding-top: 25px;
}

.bodyText {
	color: white;
	font-family: 'Swis721-reg';
	text-decoration: none;
}

.linkMeta {
	color: rgb(217, 186, 252);
	font-weight: bold;
	text-decoration: none;
}

.header {
	font-family: 'Swis721-Filled';
	color: #e6e6e2;
	width: 100%;
	text-align: center;
	padding-bottom: 25px;
	font-size: 50px;
}

.form-elements {
	padding-top: 40px;
	margin: auto;
}

.pure-group {
	width: 85%;
	margin: auto;
	border: none;
}

#name {
	width: 300px;
	border: 1px solid white;
	border-radius: 6px;
	padding: 5px;
	font-family: 'Swis721-reg';
	font-size: 15px;
}

#email {
	width: 300px;
	border: 1px solid white;
	border-radius: 6px;
	padding: 5px;
	font-family: 'Swis721-reg';
	font-size: 15px;
}

#message {
	width: 100%;
	border: 1px solid white;
	border-radius: 6px;
	padding: 5px;
	font-family: 'Swis721-reg';
	font-size: 15px;
	min-width: 300px;
}

.sendButton {
	margin-left: 50%;
	transform: translateX(-50%);
	padding: 6px;
	padding-left: 18px;
	padding-right: 18px;
	border: 1px solid white;
	border-radius: 8px;
	font-family: 'Swis721-reg';
	font-size: 15px;
}

.sendButton:hover {
	background-color: lightgrey;
	cursor: pointer;
}

.thankyou_message {
	margin: auto;
}

.thankYou {
	margin-left: 50%;
	padding-top: 15%;
	transform: translateX(-50%);
	font-family: 'Swis721-reg';
	font-size: 40px;
	color: #e6e6e2;
}

.containerDividerFooter {
	width: 100%;
	margin-bottom: 0px;
	position: absolute;
	transform: translateY(-100%);
	left: 0;
	z-index: 5;
}

/* --- */
/* footer */
/* --- */

.footerContainer {
	height: 150px;
	background-color: #191b1e;
	position: relative;
}

.footerNav {
	grid-row-start: 1;
	grid-row-end: 2;
	grid-column-start: 1;
	grid-column-end: 2;
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: 33% 33% 34%;
	font-family: "Swis721-Filled";
	font-size: 15px;
	color: #49586d;
	padding-top: 15px;
}

.homeFooterButton {
	grid-row-start: 1;
	grid-row-end: 2;
	grid-column-start: 1;
	grid-column-end: 2;
	margin: auto;
	text-decoration: none;
	font-family: "Swis721-Filled";
	font-size: 20px;
	color: #49586d;
	background-color: transparent;
	border: none;
}

.downloadFooterButton {
	grid-row-start: 1;
	grid-row-end: 2;
	grid-column-start: 2;
	grid-column-end: 3;
	margin: auto;
	text-decoration: none;
	font-family: "Swis721-Filled";
	font-size: 20px;
	color: #49586d;
	background-color: transparent;
	border: none;
}

.contactUsFooterButton {
	grid-row-start: 1;
	grid-row-end: 2;
	grid-column-start: 3;
	grid-column-end: 4;
	margin: auto;
	text-decoration: none;
	font-family: "Swis721-Filled";
	font-size: 20px;
	color: #49586d;
	background-color: transparent;
	border: none;
}

.disclaimerContainer {
	margin-top: 6%;
}

.disclaimer {
	text-align: center;
	font-family: 'Swis721-reg';
	font-size: 15px;
	color: #49586d;
}

.patreonButton {
	margin-top: 10%;
	width: 350px;
	height: 60px;
	background-color: #f86754;
	text-decoration: none;
	border-radius: 10px;
	margin: auto;
	cursor: pointer;
}

.mainContainerSignUp {
	background-color: #3d444d;
	display: grid;
	grid-template-rows: 20vh 200vh;
}

.linked {
	text-decoration: none;
}

.button {
	color: white;
	width: 75%;
	font-family: 'Swis721-reg';
	font-size: 26px;
	margin: auto;
	text-decoration: none;
	margin-top: 4%;
	-webkit-user-select: none;
}

.tierContainer {
	height: 90%;
	width: 100%;
	display: grid;
	grid-template-rows: 50% 50%;
}

.tier {
	margin-top: 0px;
	grid-row-start: 1;
	grid-row-end: 2;
	width: 400px;
	height: 600px;
	margin: auto;
	background-color: white;
	border-radius: 15px;
	display: grid;
	grid-template-rows: 12% 10% 4% 48% 26%;
	font-family: 'Swis721-reg';
}

.tier2 {
	margin-top: 0px;
	grid-row-start: 2;
	grid-row-end: 3;
	width: 400px;
	height: 600px;
	margin: auto;
	background-color: white;
	border-radius: 15px;
	display: grid;
	grid-template-rows: 12% 10% 4% 48% 26%;
	font-family: 'Swis721-reg';
}

.title {
	margin: auto;
	font-size: 25px;
	text-align: center;
}

.price {
	margin: auto;
	font-size: 35px;
	margin-bottom: 5px;
}

.price-lbl {
	margin: auto;
	margin-top: 0px;
	font-size: 15px;
}

li {
	margin-top: 5px;
	margin-right: 10px;
	margin-left: 10px;
}

.desc {
	margin-top: 15px;
	margin-right: 50px;
	margin-left: 10px;
}

.get-btn {
	margin: auto;
	width: 180px;
	height: 55px;
	background-color: #f86754;
	border-radius: 10px;
	text-decoration: none;
	position: relative;
}

.selectButton {
	margin: auto;
	position: absolute;
	top: 18%;
	left: 26%;
	color: white;
	font-size: 26px;
}

.commandsTitle {
	margin: auto;
	font-size: 25px;
	text-align: center;
}

.commandTier {
	margin-top: 0px;
	grid-row-start: 1;
	grid-row-end: 2;
	width: 400px;
	height: 600px;
	margin: auto;
	background-color: white;
	border-radius: 15px;
	display: grid;
	grid-template-rows: 22% 58% 20%;
	font-family: 'Swis721-reg';
}

.commandTier2 {
	margin-top: 0px;
	grid-row-start: 2;
	grid-row-end: 3;
	width: 400px;
	height: 600px;
	margin: auto;
	background-color: white;
	border-radius: 15px;
	display: grid;
	grid-template-rows: 22% 58% 20%;
	font-family: 'Swis721-reg';
}

.subText {
	font-family: 'Swis721-reg';
	font-size: 15px;
}
