@font-face {
	font-family: 'Swis721-Filled';
	src: url('../fonts/swis721_blkcn_bt_black.ttf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Swis721-Unfilled';
	src: url('../fonts/swis721_bdoul_bt_bold.ttf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Swis721-reg';
	src: url('../fonts/swis721_LtEx_Bt.ttf');
	font-weight: normal;
	font-style: normal;
}

* {
	margin: 0px;
}

body {
	width: 100%;
}

/* --- */
/* NAVIGATION BAR */
/* --- */

.navContainer {
	width: 100%;
	height: 60px;
	background-color: #55606e;
	display: grid;
	grid-template-rows: 60px;
	grid-template-columns: repeat(8, 1fr);
	min-height: 40px;
}

.navLogoContainer {
	grid-column-start: 1;
	grid-column-end: 3;
	margin: auto;
}

.navTextContainer {
	grid-column-start: 3;
	grid-column-end: 6;
	margin: auto;
}

.active {
	text-decoration: underline !important;
	text-decoration-color: #7389f7 !important;
}

.navText {
	font-family: 'Swis721-Filled';
	font-size: 25px;
	color: #e6e6e2;
	margin: auto;
	padding: 15px;
	border: none;
	outline: none;
	background-color: transparent;
}

.textDeco {
	text-decoration: none;
	color: inherit;
}

.navText1 {
	grid-column-start: 3;
	grid-column-end: 4;
	display: initial;
}

.navText2 {
	grid-column-start: 4;
	grid-column-end: 5;
}

.navText3 {
	grid-column-start: 5;
	grid-column-end: 6;
}

.login {
	grid-column-start: 8;
	grid-column-end: 9;
	margin: auto;
}

.loginIcon {
	height: 50px;
}

.navigation {
	display: none;
	visibility: hidden;
}

#menuToggle {
	display: none;
	visibility: hidden;
}

#menu {
	display: none;
	visibility: hidden;
}

#menu li {
	display: none;
	visibility: hidden;
}

#menuToggle input:checked ~ ul {
	display: none;
}

.signup {
	display: grid;
	grid-template-columns: 60% 40%;
	width: 140px;
	text-decoration: none;
}

.signup:hover {
	background-color: #3d444d;
	border-radius: 8px;
	cursor: pointer;
}

.signupText {
	grid-column-start: 1;
	grid-column-end: 2;
	margin: auto;
	font-size: 16px;
	font-family: 'Swis721-reg';
	color: white;
	text-decoration: none;
}

/* --- */
/* WebPage Container */
/* --- */

.mainContainer {
	background-color: white;
	display: grid;
	grid-template-rows: 700px 740px 600px 680px 680px;
	grid-template-columns: 10% 1fr 10%;
	overflow-x: hidden;
	overflow-y: hidden;
}

/* --- */
/* BANNER */
/* --- */

.banner {
	grid-row-start: 1;
	grid-row-end: 2;
	grid-column-start: 1;
	grid-column-end: 6;
	background-color: white;
}

.headerBanner {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

/* --- */
/* homeContainer1 */
/* --- */

.homeContainer1 {
	width: 100vw;
	grid-row-start: 2;
	grid-row-end: 3;
	grid-column-start: 1;
	grid-column-end: 6;
	position: relative;
	height: 100%;
	display: grid;
	grid-template-rows: 100%;
	grid-template-columns: 10% 1fr 1fr 10%;
}

.containerDividerBanner {
	width: 100%;
	height: 12px;
	margin-top: 1%;
	z-index: 30;
	background-color: #3d444d;
}

/* Product Display */

.productDisplayContainer {
	grid-row-start: 1;
	grid-row-end: 2;
	grid-column-start: 2;
	grid-column-end: 3;
	position: relative;
}

.productDisplay1 {
	width: 600px;
	position: absolute;
	z-index: 3;
	top: 35%;
	right: 15%;
}

/* Container 1 Text */

.container1TextContainer {
	grid-row-start: 1;
	grid-row-end: 2;
	grid-column-start: 3;
	grid-column-end: 4;
	font-size: 16px;
	font-family: 'Swis721-reg';
	margin: auto;
	color: black;
	z-index: 4;
	width: 700px;
	/* filter: drop-shadow(2px 1px 3px rgba(0, 0, 0, 0.726)); */
}

.container1Text1 {
	text-align: left;
}

.container1Text2 {
	text-align: left;
}

.containerDivider2Top {
	position: absolute;
	bottom: 0;
	margin-bottom: 0px;
	width: 100%;
	z-index: 1 !important;
}

/* --- */
/* homeContainer2 */
/* --- */

.homeContainer2 {
	width: 100vw;
	background-color: #3d444d;
	grid-column-start: 1;
	grid-column-end: 5;
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: 10% 50% 30% 10%;
}

/* Container 2 Text */

.container2TextContainerTop {
	grid-row-start: 1;
	grid-row-end: 2;
	grid-column-start: 2;
	grid-column-end: 3;
	font-size: 16px;
	font-family: 'Swis721-reg';
	z-index: 4;
	width: 750px;
	margin: auto;
}

.container2Emote1 {
	text-align: right;
	margin-right: 0px;
	font-size: 45px;
}

.container2Text1 {
	text-align: left;
	color: white;
}

.container2Text2 {
	text-align: left;
	color: white;
}

.container2Emote2 {
	text-align: left;
	margin-left: 0px;
	font-size: 45px;
}

/* Product Display 2 */

.productDisplayContainer2 {
	grid-row-start: 1;
	grid-row-end: 2;
	grid-column-start: 3;
	grid-column-end: 4;
	width: 800px;
	position: relative;
	margin-top: 5%;
}

.productDisplay2 {
	width: 300px;
	position: absolute;
	left: 28%;
	transform: translateX(-50%);
	top: 18%;
	z-index: 4;
}

/* --- */
/* homeContainerFinal */
/* --- */

.homeContainerFinal {
	width: 100vw;
	grid-column-start: 1;
	grid-column-end: 4;
	grid-row-start: 4;
	grid-row-end: 5;
	background-color: white;
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: 10% 40% 40% 10%;
	position: relative;
}

/* Container Fianl Text */

.containerFinalTextContainerTop {
	grid-row-start: 1;
	grid-row-end: 2;
	grid-column-start: 3;
	grid-column-end: 4;
	font-size: 16px;
	font-family: 'Swis721-reg';
	z-index: 4;
	width: 75%;
	margin: auto;
	margin-left: 150px;
}

.containerFinalEmote1 {
	text-align: left;
	margin-left: 0px;
	font-size: 45px;
}

.containerFinalText1 {
	text-align: left;
	color: black;
}

.containerFinalText2 {
	text-align: left;
	color: black;
}

.containerFinalEmote2 {
	text-align: right;
	margin-right: 0px;
	font-size: 45px;
}

/* Product Display Final */

.productDisplayContainerFinal {
	grid-row-start: 1;
	grid-row-end: 2;
	grid-column-start: 2;
	grid-column-end: 3;
	width: 30%;
	position: relative;
	margin: auto;
}

.productDisplayFinal {
	width: 360px;
	margin: auto;
}

.containerDividerFinalTop {
	grid-column-start: 1;
	grid-column-end: 5;
	position: absolute;
	bottom: 0;
	left: 0;
	margin-bottom: 0px;
	width: 100%;
	z-index: 1 !important;
}

/* --- */
/* homeContainer3 */
/* --- */

.homeContainer3 {
	width: 100vw;
	grid-row-start: 5;
	grid-row-end: 6;
	grid-column-start: 1;
	grid-column-end: 5;
	position: relative;
	background-color: #3d444d;
}

.containerDivider2Bottom {
	margin-top: 0px;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

.content3Container {
	display: grid;
	grid-template-rows: 30% 70%;
	grid-template-columns: 10% 1fr 10%;
	height: 100%;
	position: relative;
}

.container3TextContainer {
	grid-row-start: 1;
	grid-row-end: 2;
	grid-column-start: 1;
	grid-column-end: 2;
	margin: auto;
	margin-bottom: 0%;
	padding: 0px;
}

.container3TextContainer {
	grid-row-start: 1;
	grid-row-end: 2;
	grid-column-start: 2;
	grid-column-end: 4;
	margin: auto;
	margin-bottom: 0px;
}

.container3Text {
	font-family: 'Swis721-reg';
	font-size: 22px;
	color: white;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: 30%;
}

.webStoreBadge {
	grid-row-start: 2;
	grid-row-end: 3;
	grid-column-start: 2;
	grid-column-end: 3;
	background-color: #f86754;
	height: 110px;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: 35%;
	cursor: pointer;
	border-radius: 15px;
}

.webStoreBadge:hover {
	transition-duration: .3s;
	background-color: darkgrey;
	border-radius: 15px;
}

.linkContainer {
	grid-row-start: 2;
	grid-row-end: 3;
	grid-column-start: 2;
	grid-column-end: 3;
	margin-right: 0px;
	position: relative;
	top: 50%;
}

.containerDividerFooter {
	width: 100%;
	margin-bottom: 0px;
	position: absolute;
	bottom: 0;
	left: 0;
}

/* --- */
/* footer */
/* --- */

.footerContainer {
	width: 100vw;
	height: 140px;
	background-color: #191b1e;
	display: grid;
	grid-column-start: 1;
	grid-column-end: 6;
	grid-template-rows: 1fr 1fr;
	grid-template-columns: 1fr;
}

.footerNav {
	grid-row-start: 1;
	grid-row-end: 2;
	grid-column-start: 1;
	grid-column-end: 2;
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: 35% 10% 10% 10% 35%;
	font-family: "Swis721-Filled";
	color: #49586d;
}

.homeFooterButton {
	grid-row-start: 1;
	grid-row-end: 2;
	grid-column-start: 2;
	grid-column-end: 3;
	margin: auto;
	text-decoration: none;
	font-family: "Swis721-Filled";
	font-size: 24px;
	color: #49586d;
	background-color: transparent;
	border: none;
}

.downloadFooterButton {
	grid-row-start: 1;
	grid-row-end: 2;
	grid-column-start: 3;
	grid-column-end: 4;
	margin: auto;
	text-decoration: none;
	font-family: "Swis721-Filled";
	font-size: 24px;
	color: #49586d;
	background-color: transparent;
	border: none;
}

.contactUsFooterButton {
	grid-row-start: 1;
	grid-row-end: 2;
	grid-column-start: 4;
	grid-column-end: 5;
	margin: auto;
	text-decoration: none;
	font-family: "Swis721-Filled";
	font-size: 24px;
	color: #49586d;
	background-color: transparent;
	border: none;
}

.disclaimerContainer {
	margin: auto;
}

.disclaimer {
	font-family: 'Swis721-reg';
	font-size: 15px;
	color: #49586d;
}
